<div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th >Market</th>
              <th colspan="2">Disponível</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td><strong>BRLT - BTC</strong></td>
              <td>0,00000000</td>
              <td><a href="/exchange/btc">Negociar</a></td>
            </tr>
          

            <tr>
              <td><strong>BRLT - DOGE</strong></td>
              <td>0,00000000</td>
              <td><a href="/exchange/doge">Negociar</a></td>
            </tr>         

            <tr>
              <td><strong>BRLT - DGB</strong></td>
              <td>0,00000000</td>
              <td><a href="/exchange/dgb">Negociar</a></td>
            </tr>    

            <tr>
              <td><strong>BRLT - PIVX</strong></td>
              <td>0,00000000</td>
              <td><a href="/exchange/pivx">Negociar</a></td>
            </tr>    


          
          </tbody>
        </table>
      </div>
    </div>
  </div>