<li class="dropdown"><a href="#" data-toggle="dropdown"
    class="nav-link dropdown-toggle nav-link-lg nav-link-user">
    <img alt="image" src="/assets/img/user.png" class="user-img-radious-style">
    <span class="d-sm-none d-lg-inline-block"></span></a>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-title"><%= user %></div>
    <a href="/perfil" class="dropdown-item has-icon"><i class="far fa-user"></i> Perfil</a>
    <a href="/wallet" class="dropdown-item has-icon"><i class="far fa-user"></i> Wallet</a>
    <div class="dropdown-divider"></div>

    <a href="/logout" class="dropdown-item has-icon text-danger"><i class="fas fa-sign-out-alt"></i> Sair</a>
  </div>
</li>