<ul class="sidebar-menu">
    <li class="menu-header">Cripto</li>
    <li><a class="nav-link" href="/exchange/btc"><img src="/images/cripto/bitcoin.png" width="20" height="20" class="mr-2"><span> Bitcoin</span></a></li>
    <li><a class="nav-link" href="/exchange/doge"><img src="/images/cripto/dogecoin.png" width="20" height="20" class="mr-2"><span> Dogecoin</span></a></li>
    <li><a class="nav-link" href="/exchange/pivx"><img src="/images/cripto/pivx.png" width="20" height="20" class="mr-2"><span> Pivx</span></a></li>
  </ul>