<div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Serviço</th>
              <th colspan="2">Disponivel</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td><strong>Compra/Venda</strong></td>
              <td><a href="/exchange/btc">Negociar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>